* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
}

body {
    background-color: black;
}

.container {
    /* min-height: 600px; */
    width: 375px;
    background-color: #bfe2fd;
    min-height: 670px;
    position: relative;
}

.bg-top {
    width: 100%;
    min-height: 175px;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.steps {
    margin: auto;
    padding-top: 30px;
    border: 2px solid green;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.steps button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
}

.form1, .form2monthly, .form2yearly, .form3monthly, .form3yearly, .form4 {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    top: 100px;
    border-radius: 10px;
    position: absolute;

    padding: 30px;
}

.bg-bottom {
    width: 100%;
    height: 65px;
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
}

.back-next {
    position: absolute;
    /* bottom: 0px; */
    text-align: center;
}
