* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
}

body {
    background-color: black;
    position: relative;
}

/* container arrangement START */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.bg-top {
    width: 100%;
    min-height: 175px;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    min-width: 325px;
    width: 100%;
    min-height: 400px;
}

.inner-content {
    width: 100%;
    min-height: 535px;
    background-color: #bfe2fd;
    margin: auto;
    position: relative;
}

form {
    position: absolute;
    width: 90%;
    min-height: 300px;
    top: -75px;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 30px;
}

.back-next {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 12.5px 5% 12.5px 5%;
}

/* container arrangement END */

.steps {
    margin: auto;
    padding-top: 30px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps p {
    visibility: hidden;
}

.steps .step {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .form1, .form2monthly, .form2yearly, .form3monthly, .form3yearly, .form4  */

form .heading {
    font-size: 1.7rem;
    font-weight: 700;
    padding-bottom: 15px;
    color: #02295a;
}

form .quote {
    color: #9699ab;
    line-height: 1.5;
}

/* form 1 */

.form1 .quote {
    padding-bottom: 5px;
}

.form1 .form-input p{
    font-size: 0.8rem;
    color:#02295a;
    padding-top: 15px;
    padding-bottom: 5px;
}

input {
    height: 40px;
    padding: 10px;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d6d9e6;
}

/* form 2 */

.plan, .add-ons {
    border: 2px solid #d6d9e6;
    border-radius: 5px;
    min-height: 75px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.plan img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.plan-type {
    color: #02295a;
    font-weight: 400;
    margin-bottom: 5px;
}

.plan-value {
    color: #9699ab;
    font-size: 0.8rem;
    margin-top: 5px;
}

.yearly-bonus {
    color: #02295a;
    font-size: 0.7rem;
    margin-top: 7px;
}

/* form 3 */
.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #d6d9e6;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 4px;
    background-image: url(assets/images/icon-checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #473dff; */
    background-color: #ffffff;
}

.add-on {
    color: #02295a;
    font-weight: 700;
}
.add-on-explain {
    color: #9699ab;
    font-size: 0.8rem;
}

.adds {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-cost p{
    color: #473dff;
    font-size: 0.7rem;
    font-weight: 500;
}

.m-y-switch {
    height: 50px;
    margin-top: 20px;
    background-color: #d6d9e6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2monthly .quote, .form2yearly .quote, .form3monthly .quote, .form4monthly .quote{
    padding-bottom: 20px;
}


/* form 4 */
.plan-choice, .add-on-choice, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.your-order {
    background-color: #bfe2fd;
    padding: 15px;
    border-radius: 10px;
}

.plan-choice {
    padding-bottom: 15px;
    border-bottom: 1px solid blue;
}
.choice-cost {
    font-weight: 700;
    color: #02295a;
}

.add-on-choice {
    padding-top: 15px;
}

.total {
    padding: 10px;
    padding-top: 20px;
}

.total .grand-total {
    color: #473dff;
    font-weight: 700;
}


/* Thank you page 4 */

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.thank-you .quote {
    font-size: 0.95rem;
}

.thank-you img {
    margin: 20px;
}

/* bottom navigation keys */
.back-next button {
    height: 45px;
    width: 100px;
    background-color: #02295a;
    color: white;
    border-radius: 5px;
    border: none;
    /* margin-top: 20px; */
}

#section1 .back {
    visibility: hidden;
}

/* Positioning */


#section1 {
    /* left: 600px; */
    display: none;
}

#section2m{
    /* left: 600px; */
    display: none;
}

#section2y{
    /* left: 600px; */
    display: none;
}

#section3m {
    /* left: 600px; */
    display: none;
}

#section4m {
    /* left:600px; */
    display: none;
}

#success {
    
    /* left:600px; */
    /* display: none; */
}


@media (min-width:450px){
    .steps p{visibility: visible;}
}
