* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
}

body {
    background-color: black;
}

.container {
    /* min-height: 600px; */
    width: 375px;
    background-color: #bfe2fd;
    min-height: 670px;
    position: relative;
}

.bg-top {
    width: 100%;
    min-height: 175px;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.steps {
    margin: auto;
    padding-top: 30px;
    /* border: 2px solid green; */
    width: 180px;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.steps button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.steps button:hover {
    background-color: #bfe2fd;
    color: black;
}

button:hover {
    cursor: pointer;
}
/* .form1, .form2monthly, .form2yearly, .form3monthly, .form3yearly, .form4  */

form {
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    top: 100px;
    border-radius: 10px;
    position: absolute;
    padding: 30px;
}

form .heading {
    font-size: 1.7rem;
    font-weight: 700;
    padding-bottom: 15px;
    color: #02295a;
}

form .quote {
    color: #9699ab;
    padding-bottom: 5px;
    line-height: 1.5;
}

.form1 .form-input p{
    font-size: 0.8rem;
    color:#02295a;
    padding-top: 15px;
    padding-bottom: 5px;
}

input {
    height: 40px;
    padding: 10px;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d6d9e6;
    /* color: ; */
}



.bg-bottom {
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
}

.back-next {
    position: absolute;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12.5px;
}
.back-next button {
    height: 45px;
    width: 100px;
    background-color: #02295a;
    color: white;
    border-radius: 5px;
    border: none;
}


/* Positioning */

.form1 {
    left: 600px;
}

